 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{site.analytics}}');
</script>
<!-- Event snippet for Visualização de página conversion page -->
<script>
    gtag('event', 'conversion', {
        'send_to': 'AW-11564862366/DL0-CNDT9YoaEJ6Xx4or',
        'value': 0.1,
        'currency': 'BRL'
    });
  </script>
  