<section id="celebrante">
    <header class="major">
        <h2><i class="fa-solid fa-user"></i> {{  data.empresa.title }}</h2>
    </header>
    <p>{{  data.Celebrante.detalhes | markdownify }}</p>   
</section>
<section >   
    <header class="major">
        <h2>{{ data.Formacao.title }}</h2>
    </header>
    <p>{{ data.Formacao.detalhes | markdownify }}</p>
    <header class="major">
        <h2>{{ data.Cerimonia.title }}</h2>
    </header>
    <p>{{ data.Cerimonia.detalhes | markdownify }}</p>
    <ul class="actions">
        <!-- <li><a href="{{ empresa.portfolio }}" class="button">Portfólio em Breve</a></li> -->
        <li><a href="{{ data.empresa.whatsapp }}" class="buttonWhatsApp"> {{ data.empresa.botaoAgenda }} <i class="fa fa-whatsapp"></i> </a></li> 
    </ul>
</section>