<head> 
    <meta charset="utf-8">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <link rel="shortcut icon" href="favicon.ico">
 
    <meta name="robots" content="all"> 
    <meta property="og:image" content="{{ site.logo }}">
    <link rel="canonical" href="https://example.com"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    
    {% seo %}
    {% include analytics.html %}
</head>